.listContainer {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 60px;
}
.filter{

  height: 100vh;
  margin: 0 auto;
  margin-top: 60px;
  width: 85%;
  background-color: rgba(255,255,255,0.7);
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.card {
  margin: 10px;
}

.distance{
  font-size: 15px;
  margin: 0px;
  color: #0062cc;
}

hr{
  margin: 0px;
}
.distanceInfo{
  margin-bottom: 10px;
}
